<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://imagegarage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>imagegarage.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>imageGarage</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$imageGarage</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:stevens.database.windows.net,1433;Initial Catalog=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Connect Timeout=900;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ImageSharingWebRole.DAL.ApplicationDbContext, ImageSharingWebRole" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=imagegarages;AccountKey=ykk6v5ZHoBU04Iw4sxGbJEoqy8eEwOy70sREtib5/6njVtB/xTWM+2n1c+ppnfXTTCzDBp+M4JRm4bNOdEseXA==;BlobEndpoint=https://imagegarages.blob.core.windows.net/;TableEndpoint=https://imagegarages.table.core.windows.net/;QueueEndpoint=https://imagegarages.queue.core.windows.net/;FileEndpoint=https://imagegarages.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=imagegarages;AccountKey=ykk6v5ZHoBU04Iw4sxGbJEoqy8eEwOy70sREtib5/6njVtB/xTWM+2n1c+ppnfXTTCzDBp+M4JRm4bNOdEseXA==;BlobEndpoint=https://imagegarages.blob.core.windows.net/;TableEndpoint=https://imagegarages.table.core.windows.net/;QueueEndpoint=https://imagegarages.queue.core.windows.net/;FileEndpoint=https://imagegarages.file.core.windows.net/" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQLServerExpress" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:stevens.database.windows.net,1433;Initial Catalog=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Connect Timeout=900;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ImageSharingWithAuth.mdf;Initial Catalog=ImageSharingWithAuth;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLServerExpress_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;Initial Catalog=ImageSharingWithAuth;AttachDBFilename=|DataDirectory|\ImageSharingWithAuth.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureSQLDatabase" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:stevens.database.windows.net,1433;Initial Catalog=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Connect Timeout=900;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:stevens.database.windows.net,1433;Initial Catalog=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Connect Timeout=900;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureSQLDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:stevens.database.windows.net,1433;Database=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Encrypt=True;TrustServerCertificate=False;Connection Timeout=900;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureSQLDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stevens.database.windows.net,1433;Initial Catalog=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Connect Timeout=900;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stevens.database.windows.net,1433;Initial Catalog=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Connect Timeout=900;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLServerExpress-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stevens.database.windows.net,1433;Initial Catalog=imagesh;User ID=sandeep@stevens;Password=cs526Azure;Connect Timeout=900;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>